# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.venv/
venv/
ENV/
.env.*

# Database
*.sqlite3
data.db
*.db

# Logs
*.log
*.pid
*.bak
*.tmp

# Coverage
coverage/

# Build
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
