
# FastAPI core
fastapi[standard]

# Database dependencies (SQLite by default). For Postgres/MySQL add the corresponding async drivers:
# - Postgres: asyncpg
# - MySQL: aiomysql
sqlalchemy
databases[sqlite]
aiosqlite


# JWT authentication
python-jose[cryptography]

# MongoDB (opcional)
motor
