
# FastAPI core
fastapi[standard]

# Database dependencies (SQLite by default). For Postgres/MySQL add the corresponding async drivers:
# - Postgres: asyncpg
# - MySQL: aiomysql
sqlalchemy
databases[sqlite]
aiosqlite


# JWT and password hashing
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0

# MongoDB (opcional)
motor
